##############################
### WINDOWS AND WORKSPACES ###
##############################

# See https://wiki.hypr.land/Configuring/Window-Rules/ for more
# See https://wiki.hypr.land/Configuring/Workspace-Rules/ for workspace rules

# Example windowrule
# windowrule = float,class:^(kitty)$,title:^(kitty)$

# Ignore maximize requests from apps. You'll probably like this.
windowrule = suppressevent maximize, class:.*

# Fix some dragging issues with XWayland
windowrule = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0

# Here and below are MY rules:

# Kitty rules
windowrule = noblur, class: kitty

# Terminal scratchpad setup
windowrulev2 = workspace special:scratchpad, class:^(kitty-scratchpad)$
windowrulev2 = size 80% 70%, class:^(kitty-scratchpad)$
windowrulev2 = center, class:^(kitty-scratchpad)$
windowrulev2 = float, class:^(kitty-scratchpad)$
windowrulev2 = noblur, class:^(kitty-scratchpad)$

